*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f7f5f2;
color:#333;
}

header{
height:90px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 60px;
background:#fff;
border-bottom:1px solid #eee;
}

.logo{
font-size:32px;
font-weight:700;
color:#ff6b00;
}

nav a{
text-decoration:none;
color:#333;
margin-left:25px;
font-weight:500;
}

.quote-btn{
background:#ff6b00;
color:white;
padding:14px 24px;
border-radius:8px;
text-decoration:none;
}

.hero{
height:85vh;
background:red;
linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.45)
),
url("../images/showroom.jpg");

background-size:cover;
background-position:center;
display:flex;
align-items:center;
padding-left:100px;
}

.hero-content{
max-width:650px;
color:white;
}

.hero h1{
font-size:72px;
line-height:1.1;
margin-bottom:20px;
}

.hero p{
font-size:24px;
margin-bottom:30px;
}

.btn-orange{
background:#ff6b00;
color:white;
padding:16px 32px;
border-radius:8px;
text-decoration:none;
margin-right:15px;
}

.btn-white{
border:1px solid white;
color:white;
padding:16px 32px;
border-radius:8px;
text-decoration:none;
}

.stats{
display:grid;
grid-template-columns:repeat(4,1fr);
padding:60px;
background:white;
text-align:center;
}

.stats h2{
font-size:48px;
color:#ff6b00;
margin-bottom:10px;
}

.wa{
position:fixed;
right:20px;
bottom:20px;
padding:14px 20px;
background:#25D366;
color:white;
text-decoration:none;
border-radius:30px;
font-weight:bold;
}
